<h1>Mini</h1>

<p>
	Mini takes any and all bloated JavaScript and packs it into a whitespace free one-liner. Give your JavaScript the boost you need. Prefer to pack your <a href="/css">css</a> instead?
</p>

<form action="/minify/js" method="post" accept-charset="utf-8">
	<textarea rows="20" cols="40" id="js" name="js" ></textarea>
  <input type="submit" value="Minimize" />
</form>