/* 
 * Eric Meyer reset 
 * http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/*
 * Shorten
 */

body {
  font-size: 87.5%;
	background-color: #FFFEEB;
  font-family: "Lucida Grande", Helvetica, sans-serif;
  margin: 1em;
}

h1 {
  font-size: 5em;
	font-variant: small-caps;
  width: 60%;
  margin: 0.25em auto;
}

p {
  width: 60% !important;
  margin: 0 auto !important;
}

textarea {
  display: block;
	background-color: rgb(254, 252, 250);
  font-size: 1.17em;
  font-weight: bold;
  width: 100%;
}

form {
  width: 60% !important;
  margin: 2em auto !important;
}

input {
  font-size: 2em;
}

div#mini {
	width: 60% !important;
	margin: 2em auto !important;
}